WALLET_NAME=miner
HOTKEY_NAME=miner-hotkey
SUBTENSOR_NETWORK=local
NETUID=2
ENV=dev
SUBTENSOR_ADDRESS=ws://54.252.195.55:9945
MIN_STAKE_THRESHOLD=1000
REFRESH_NODES=True
IS_VALIDATOR=False
WANDB_TOKEN=
HUGGINGFACE_USERNAME=
HUGGINGFACE_TOKEN=